.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.form-horizontal {
  width: 40% !important;
  margin-left: 30%;
}

.image {
  height: 400px;
}

.search-button {
  float: left;
  margin-left: -30px;
  width: 120px;
}

.search-bar {
  float: right;
  width: 200px;
}

.search-movies {
  float: left;
  margin-left: 20%;
  width: 60%;
  border: 1px solid #bbb;
  align-content: start;
  text-align: left;
  font-size: 1em;
}

.search-image {
  width: 200px;
  float: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

